<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
  <h1>{{title}}</h1>
  <ul>
    <h3><li>{{game1}} <button>Купить за 4999 рублей</button></li>
    <li>{{game2}} <button>Купить за 4999 рублей</button></li>
    <li>{{game3}} <button>Купить за 4999 рублей</button></li>
    <li>{{game4}} <button>Купить за 4999 рублей</button></li>
    <li>{{game5}} <button>Купить за 4999 рублей</button></li>
    <li>{{game6}} <button>Купить за 4999 рублей</button></li>
    <li>{{game7}} <button>Купить за 4999 рублей</button></li>
    <li>{{game8}} <button>Купить за 4999 рублей</button></li></h3>
  </ul>
  <button><a href="/main/"><h2>На главную</h2></a></button>
  <button><a href="/main/cart/"><h2>Перейти в корзину</h2></a></button>
</body>
</html>
